$color-body:            #ffffff;    // Color body
$color-head:            #ffffff;    // Color head
$color-detalhes:        #7d6f4e;    // Color detalhes
$color-principal:       #243e66;    // Color Principal
$color-button:          #243e66;    // Color Button
$color-footer:          #7d6f4e;    // Color footer
$color-font:            #ffffff;    // Color font
$color-font-v2:         #000000;    // Color font V2
$color-neutral:         #F3F3F5;    // Color Neutra
