.school {
	.school-bg {
		width: 100%;
		height: 20px;
		background-color: #e4e4e4;
	}

	ul {
		padding: 0;
        list-style: none;
        justify-content: space-evenly;
	}
	span {
		font-size: 28px;
		font-weight: bold;
		color: rgb(105, 105, 105);
	}
}
