.faq-block {
  background-color: #171717;
  color: white;
  padding: 25px;

  .d-flex {
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      flex-direction: column;
    }
  }

  &__left {
    &-title {
      font-size: 14px;

      small {
        color: #9e9e9e;
      }
    }
  }

  &__right {
    @media (max-width: $screen-md-max) {
      margin-top: 15px;
    }

    &--btn {
      color: #fff;
      border: 0;
      background-color: #f4b907;
      border-color: #f4b907;
      font-size: 13px;
      font-weight: 400;
      position: relative;
      padding: 10px;

      &-news {
        color: #fff;
        background: #4caf50;
        position: absolute;
        top: -10px;
        left: 67px;
        padding: 1px;
        font-size: 11px;

        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -4px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 5px 0 0;
          border-color: #0069b0 transparent transparent transparent;
          border-top-color: #4caf50;
        }
      }
    }
  }
}
