$cor-escuro:#003552;
$cor-escuro-v2: #004E6F;
$cor-escuro-hover: #015d85;
$cor-claro-v2:#AB9264;
$cor-claro-v3:#cfba93;
$cor-footer: #282526;
$cor-end-page: black;
$cor-btn-p: #AB9264;
$cor-btn-v3:#c00f3c;
$cor-btn-houver-v3:#910b2d;

