body{
	padding: 0 !important;
	margin: 0 !important;
}
.txR{
	text-align: right;
}
.txC{
	text-align: center;
}
.p0{
	padding: 0 !important;
}
.bgBranco{
	background: #AA51FF;
	color: #fff;
	height: 100%;
	position: relative;
	width: 100%; 
	box-shadow: 4px 0px 2px rgb(0,0,0,0.2);
}


button{
	cursor: pointer;
}
button:focus{
	outline: none;
}

@media screen and (min-width: 991px){
	.bgBranco{
		padding-bottom: 500px;
	}
}


body::-webkit-scrollbar {
  width: 0em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.backgroundHome{
	width: 100%;
	height: 100%;
	/*background-image: linear-gradient(-90deg, #EDC1D4, #BA97ED);*/
	background: #fff;
}

.dashboard__logo{
	font-family: 'montserrat';
	font-weight: bolder;
	font-size: 22px;
	padding-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}
.dashboard__titulos-menu{
	font-size: 20px;
	margin-bottom: 25px;
	margin-top: 35px;
	padding-left: 10px;
}
.dashboard__itens{
	font-size: 15px;
	padding-left: 30px;
	margin-top: 20px;
	cursor: pointer;
	color: #fff;
}
.dashboard__itens i{
	padding-right: 15px;
	color: #fff;
}
.dashboard__itens:hover{
	color: #ccc;
}


.dashboard__centerBlock{
	/*border-left: 0.5px solid #999; */
	border-right: 0.5px solid #fff; 
}

.dashboard__centerBlock--header{
	margin-top: 50px;
}

.dashboardheader__titulo{
	font-size: 25px;
}
.dashboardheader__button{
	background: #AA51FF;
	border: none;
	border-radius: 30px;
	color: #fff;
	font-size: 18px;
	font-weight: bolder;
	width: 120px;
	padding: 10px 0; 
	box-shadow: 0px 4px 2px rgb(0,0,0,0.2);
}


/*dashboard--ultimaTransasao*/
.dashboard__ultimaTransasao{
	margin-top: 30px;
}

.dashboard__ultimaTransasao-bloco{
	background: #CC66EE;
	width: 100%;
	/*padding: 0px 0 20px 0;*/
	border-radius: 20px; 
	z-index: 3;
	margin-bottom: -65px;
	position: relative;
}

.dashboard__ultimaTransasao-bloco--sombra1{
	background: #D38FE5;
	width: 90%;
	padding: 45px 0;
	border-radius: 20px; 
	z-index: 2;
	margin: 0 auto;
	margin-bottom: -65px;
	position: relative;
	opacity: .80;
}
.dashboard__ultimaTransasao-bloco--sombra2{
	background: #D097E4;
	width: 80%;
	padding: 45px 0;
	border-radius: 20px; 
	z-index: 1;
	margin: 0 auto;
	opacity: .60;
}

.dashboard__pedidoText{
	margin-bottom: 5px;
	color: #666;
	font-size: 14px;
}

.dashboard__pedidoText--ultimoPedido{
	margin-bottom: 5px;
	color: #fff;
	font-size: 14px;
}

.dashboard__pedidoTitulo{
	font-size: 20px;
	margin-top: 20px;
	color: #292929;
	margin-bottom: 10px; 
}
.dashboard__ultimaTransasao-bloco{
	padding-bottom: 20px;
}

.dashboard__ultimaTransasao-bloco--pedidos{
	background: #fff;
	padding-bottom: 0;
	margin-bottom: 20px;
	box-shadow: 0px 5px 8px rgb(0,0,0,0.1);
}
.dashboard__iconPedido{
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-top: 25px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 4px 2px rgb(0,0,0,0.2);

	text-align: center;
}

.dashboard__iconPedido i{
	font-size: 35px;
	margin-top: 30px;
	color:  #AA51FF;
}

.dashboard__pedidoValorBLock{
	background: #CC66EE;
	padding: 20px;
	border-radius: 0 20px 20px 0;
	height: 100%;
	height: 140px;
	margin-right: -2px;

}
.dashboard__ultimaTransasao--cifrao{
	font-size: 12px;
	font-weight: normal;
}
.dashboard__ultimaTransasao--valor{
	color: #fff;
	font-weight: bolder;
	margin-top: 30px;
	font-size: 20px;
	margin-top: 0;
}
.dashboard__ultimaTransasao--buttonAbrir{
	color: #fff;
	background: #AA51FF;
	border: none;
	border-radius: 30px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	padding: 10px 0; 
	box-shadow: 0px 4px 2px rgb(0,0,0,0.2);
}



.aprovado{
	color: #3F9120;
}
.analise{
	color: #EEC40E;
}
.cancelado{
	color: #F64F49;
}



/*transações do mes*/


.blocoValor__bloco{
	width: 80%;
	margin: 0 auto;

	background: #fff;
	border-radius: 15px;
	padding: 20px 0;
	text-align: center;
	font-size: 20px;
	color: #CC66EE;
	box-shadow: 0px 4px 2px rgb(0,0,0,0.2);
	font-weight: bolder;
	margin-top: 25px;

}
.blocoValor__data{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: center;
}


.menu__mobile{
	display: none;
}


@media screen and (max-width: 991px){
	.dashboard__logo {
		color: #fff;
	    padding-top: 20px;
	    margin-bottom: 20px;
	}
	.fa-bars{
		font-size: 30px;
	    color: #fff;
	    margin-top: 15px;
	    margin-right: 15px;
	    cursor: pointer;
	}

	.menu__mobile{
		display: none;
		text-align: right;
		color: #666;
		width: 100%;
		background: #fff;
		padding-right: 40px;
		padding-bottom: 20px;
		position: absolute;
		z-index: 99;
		margin-top: 45px;
		animation-duration: 0.5s;
	    animation-delay: 0s;
	    animation-name: bounceInUp;
	}
	.dashboard__itens {
	    color: #666;
	}

}


@media screen and (max-width: 600px){

	.dashboardheader__titulo {
	    font-size: 20px;
	}
	.txCXS{
		text-align: center;
		margin-top: 10px;
	}
	.nXS{
		margin-top: 0px;
    	margin-bottom: 0;
    	font-size: 8px;
	}
	.dashboard__pedidoValorBLock {
	    margin-top: 11px;
	    margin-right: 0;
	}
	.dashboard__pedidoTitulo{
		font-size: 16px;
	}
}