.grid-img {
	display: flex;
	justify-content: end;
	padding: 0 100px;
	flex-wrap: wrap;

	&__person {
		display: flex;
		flex-direction: column;
		padding: 24px;

		img {
			border-radius: 50px;
		}
	}
}
