.cart-topBar {
	background-color: $cor-escuro;
	color: white;
	font-size: 12px;
	padding: 10px 0;

	ul {
		list-style: none;
	}

	.container-fluid {
		padding-left: 0;
		padding-right: 0;

		@media (min-width: $screen-sm-min) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__block {
		display: flex;
		align-items: center;

		a {
			color: white;
			&:hover {
				color: rgb(202, 202, 202);
			}
		}

		&--account {
			display: flex;
			align-items: center;

			.fa-bookmark {
				padding-right: 5px;
			}
		}

		&--social {
			ul {
				display: flex;
				margin-bottom: 0;
				padding-left: 0;
				list-style: none;

				li {
					border-left: 1px solid #007bcf;
					border-right: 1px solid #007bcf;
					padding: 0 3px;

					img {
						width: 28px;
					}
				}
			}
		}
	}
}
