.cart-menu__desk {
	background: $cor-escuro;
	position: sticky;
	top: 0;
	z-index: 2;

	&--block {
		ul {
			padding: 0 15px;
			margin: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			// position: relative;

			.nav-item {
				padding: 10px 7px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				position: relative;

				&:before {
					content: "";
					display: block;
					height: 2px;
					position: absolute;
					top: 0;
					left: 50%;
					right: 50%;
					background-color: $cor-claro-v3;
					transition: all 0.5s;
				}

				&:hover {
					background-color: white;
					color: $cor-escuro;

					&:before {
						left: 0;
						right: 0;
					}

					a {
						color: $cor-escuro;
					}
				}

				i {
					font-weight: lighter;
					padding-left: 5px;
				}

				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}

	.menu-close {
		display: none;
		position: absolute;
		background: white;
		left: 0;
		top: 44px;
		width: 400px;
		box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.1),
			-2px 3px 3px 0 rgba(0, 0, 0, 0.1);
		z-index: 1040;

		span {
			color: $cor-end-page;
		}
	}

	ul.menu-close.last-item {
		left: auto;
		right: 0;
		padding: 30px;
	}

	.open {
		.menu-close {
			display: block;
			padding: 0;

			li {
				padding: 10px 7px;
				display: flex;
				color: white;
				align-items: center;
				width: 100%;
				&:hover {
					background-color: $cor-escuro;

					span {
						color: white;
					}
				}
			}
		}
	}

	& header & {
		height: auto;
	}
}
