.logo-header {
	background: #dfedff;
	height: 115px;

	ul {
		padding: 5px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;

		li {
			flex-wrap: wrap;
			font-size: 13px;

			img {
				width: 160px;
			}
		}

		i {
			color: white;
			width: 35px;
			height: 35px;
			background-color: #0069b0;
			border-radius: 53px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		@media (min-width: $screen-sm-min) {
			justify-content: space-between;
		}
	}

	&__block {
		padding-left: 5px;
		display: flex;
		flex-direction: column;

		a {
			font-size: 12px;
			text-decoration: none !important;
			color: black;
		}
	}
}
