@import "mixin/slick-arrow";

.mm-block {
	margin-top: 53px;
	ul {
		display: flex;

		@media (max-width: $screen-xs-max) {
			display: block;
			padding: 0;
		}

		li {
			width: 25%;
			text-align: center;
			list-style: none;

			@media (max-width: $screen-xs-max) {
				width: 100%;
				margin-bottom: 15px;
			}

			.mm-block__icon {
				display: flex;
				justify-content: center;
				i {
					color: #707070;
					width: 58px;
					height: 58px;
					border: 3px solid #707070;
					padding: 15px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 100px;
					cursor: pointer;
				}
			}
		}
	}

	a {
		color: #707070;
	}

	&__title {
		h4 {
			font-weight: bold;
			height: 75px;
		}

		ul {
			display: none;
			padding: 0;
			width: 100%;

			li {
				width: 100%;
				text-align: initial;
				padding: 5px 0;

				a {
					position: relative;
					&:before {
						content: "";
						background-color: $color-principal;
						width: 0;
						height: 3px;
						position: absolute;
						bottom: -5px;
					}
					&:hover {
						text-decoration: none;
						&:before {
							transition: 0.5s all ease-out;
							width: 100%;
						}
					}
				}
			}
		}
	}

	&__detalhes {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 5px;

		&--circle {
			width: 20px;
			height: 20px;
			border-radius: $border-cicle;
			background-color: $color-detalhes;
			margin-right: 13px;
		}

		&--circle-midle {
			border-radius: 8px;
			background-color: $color-detalhes;
			width: 60px;
			height: 10px;
		}
	}
}
