.cart-footer {
	background-color: $cor-footer;
	color: #9a9a9a;
	padding-top: 30px;

	hr {
		border: 1px solid #9a9a9a;
	}

	&__social {
		img {
			width: 28px;
		}
	}

	ul {
		padding: 0;
		list-style: none;
		li {
			padding: 0 3px;
		}
	}

	.cart-footer-end {
		background: $cor-end-page;
		color: #9a9a9a;
		text-align: center;
		padding: 20px 0;
		margin-top: 15px;
	}
}
