.boleto-block {
	@media (min-width: $screen-sm-min) {
		padding: 0 50px;
		margin: 0 auto;
	}

	select {
		width: 70%;
		height: 36px;

		@media (min-width: $screen-sm-min) {
			width: 100%;
		}
	}

	label {
		padding-right: 15px;
		min-width: 100px;
	}

	li {
		justify-content: center;
	}
}
