.carousel-banner {
  .carousel-item {
    height: 360px;
    background: no-repeat center center scroll;
    background-size: cover;
    
    @media (min-width: $screen-md-min) {
      height: 680px;
    }
  }
}
