@import "../partials/button-principal";
.mosaic__block {
	padding: 0;
	list-style: none;

	@media (min-width: $screen-sm-min) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: -100px;
		z-index: 99999;
	}
	* {
		color: white;
		text-align: center;
	}

	&--one {
		background-color: $cor-escuro;
		width: 100%;
		padding: 25px 17px;

		&:hover {
			background-color: $cor-escuro-hover !important;
		}

		@media (min-width: $screen-sm-min) and (max-width: 991px) {
			flex-basis: 50%;
			&:nth-child(3) {
				background-color: $cor-escuro-v2;
			}
			&:nth-child(7) {
				background-color: $cor-escuro-v2;
			}
			&:nth-child(11) {
				background-color: $cor-escuro-v2;
			}
		}
		@media (min-width: $screen-md-min) {
			flex-basis: 30%;
		}

		@media (min-width: $screen-lg-min) {
			flex-basis: 25%;
			&:nth-child(5) {
				background-color: $cor-escuro-v2;
			}
			&:nth-child(7) {
				background-color: $cor-escuro-v2;
			}
		}

		&-icon {
			margin-bottom: 20px;
		}
		&-title {
			margin-bottom: 20px;
		}
		&-btn {
			margin-bottom: 20px;

			a:hover {
				color: white;
				text-decoration: none;
			}
		}
	}

	&--two {
		background-color: $cor-escuro-v2;
		width: 100%;
		padding: 25px 17px;

		&:hover {
			background-color: $cor-escuro-hover !important;
		}

		@media (min-width: $screen-sm-min) and (max-width: 991px) {
			flex-basis: 50%;
			&:nth-child(4) {
				background-color: $cor-escuro;
			}
			&:nth-child(8) {
				background-color: $cor-escuro;
			}
			&:nth-child(12) {
				background-color: $cor-escuro;
			}
		}
		@media (min-width: $screen-md-min) {
			flex-basis: 30%;
		}
		@media (min-width: $screen-lg-min) {
			flex-basis: 25%;
			&:nth-child(6) {
				background-color: $cor-escuro;
			}
			&:nth-child(8) {
				background-color: $cor-escuro;
			}
		}
	}

	// a {
	// 	background-color: $cor-btn-p;
	// 	border-color: #2e6da4;
	// 	padding: 10px;
	// 	text-decoration: none;
	// }
}
