.content {
	font-size: 14px;
	text-align: justify;
	h5 {
		margin-top: 15px;
		position: relative;
		padding: 25px 30px 23px 30px;
		margin: 0 0 20px;
		font-size: 18px;
		background-color: #f6f6fa;
		border: none;
		border-radius: 0;
	}

	&__title {
		margin: 15px 0;
		strong {
			font-size: 13px;
			margin: {
				top: 15px;
				bottom: 15px;
			}
		}
	}
	ol {
		list-style: lower-alpha;

		li {
			margin: 15px 0;
		}
	}
}
